.logo {
    width: 120px;
    height: 31px;
    background: #001529;
    margin: 1px 24px 16px 0;
    float: left;
    border-bottom: 10px;
  }

  .foot{
    height: 30px;
    margin-bottom: 0px !important;
  }